:root {
  --primary-color: #031044;
  --secondary-color: #ffba08;
  --text-color: #f5f5f5; /* Colore per il testo */
  --third-color: #04395e; /* Blu più scuro */
  --hover-color: #e0a600; /* Colore giallo più scuro per hover */
}

/* Reset globale */
* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", monospace;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  background-color: #1f1f1f;
  padding: 40px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; /* Assicurati che la navbar stia sopra gli altri elementi */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: var(--secondary-color); /* Giallo retrò per il logo */
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
  margin-left: auto; /* Spostiamo il logo più a destra con un margine a sinistra */
  flex-shrink: 0;
}

/* Navbar Links */
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-family: "Courier New", monospace;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--secondary-color);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
}

/* Stile per il bottone di ricerca */
#searchButton {
  background-color: var(--secondary-color); /* Giallo retrò */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 18px;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Courier New", monospace;
  transition: background-color 0.3s, transform 0.2s;
}

#searchButton:hover {
  background-color: var(--hover-color); /* Colore giallo più scuro */
  transform: scale(
    1.2
  ); /* Aumenta la dimensione del bottone quando passa sopra il mouse */
}

/* Posizionamento del bottone di ricerca in alto a destra */
.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 30; /* Assicurati che il bottone sia sopra al contenuto */
}

.search-container input,
.search-container button {
  display: inline-block;
}

/* Form di ricerca */
.search-form {
  display: flex;
  justify-content: center; /* Centra il form di ricerca */
  margin-top: 100px; /* Spazio sopra il form per non sovrapporsi alla navbar */
}

/* Input di ricerca */
.search-input {
  background: transparent;
  border: 3px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 20px;
  color: var (--text-color);
  --primary-color: #031044;
  --secondary-color: #ffba08;
  --text-color: #f5f5f5; /* Colore per il testo */
  --third-color: #04395e; /* Blu più scuro */
  --hover-color: #e0a600; /* Colore giallo più scuro per hover */
}

/* Card Movies */
#movies-container {
  margin-top: 100px; /* Aggiungi spazio sopra le card per evitare sovrapposizioni con la navbar */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  border-radius: 10px;
}

.movie-info {
  text-align: center;
  margin-top: 10px;
}

.movie-info h3 {
  font-size: 20px;
  font-family: "Courier New", monospace;
  color: var(--secondary-color);
}

.movie-info span {
  font-size: 16px;
  color: #ccc;
}

.overview {
  margin-top: 15px;
}

.overview h3 {
  font-size: 18px;
  color: var(--secondary-color);
}

.overview p {
  font-size: 14px;
  color: #bbb;
}

/* Footer generale */
footer {
  background-color: #1f1f1f;
  color: var(--text-color);
  padding: 30px 0;
  width: 100%;
  position: relative; /* Manteniamo il footer in basso */
  margin-top: 50px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Contenitore principale del footer */
.footer-container {
  display: flex;
  justify-content: space-between; /* Spaziatura tra i figli */
  align-items: flex-start; /* Allineamento verticale */
  gap: 30px; /* Spaziatura tra gli elementi */
  flex-wrap: wrap; /* Consente di andare a capo se non c'è spazio */
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  margin: 0 auto;
}

.social-links li {
  font-size: 40px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  /*font-size: 24px;*/
}

.footer-section {
  width: 20%;
  margin-bottom: 20px;
  min-width: 170px;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
  min-width: 168px;
  padding-top: 10px;
}

.footer-section li {
  margin-bottom: 18px;
}

footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.3s ease;
}

.footer-list a hover {
  color: #ffba08;
}

/* Link del footer */
footer .links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  display: inline-block;
}

/* text 2025*/
.footer-text {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-color);
}

footer .footer-section a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

/* Responsive Design: Disposizione verticale per schermi piccoli */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Imposta una disposizione verticale su schermi piccoli */
    align-items: center; /* Centra gli elementi */
    gap: 10px;
  }

  .search-container{
    display:none;
  }

  .footer-section {
    text-align: center;
    /*margin-bottom: 10px;*/
    width: 100%;
  }
  .nav-links{
    display:none;
  }
}

/* Sezione all'interno del footer */
.footerList {
  display: flex;
  justify-content: space-between; /* Spaziatura tra i figli */
  gap: 20px; /* Spaziatura tra gli elementi */
  flex-wrap: wrap; /* Consente di andare a capo se non c'è spazio */
  padding: 20px 10px;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.footer-list a :hover {
  color: #ffba08;
}

/* Contenitore principale del footer */
.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra tutto il contenuto orizzontalmente */
}

/* Contenitore per i titoli "Iscriviti alle email" e "Seguici" */
.footer-bottom-top {
  display: flex;
  justify-content: center; /* Centra i titoli orizzontalmente */
  gap: 30px;
  margin-bottom: 20px;
}

/* Titoli "Iscriviti alle email" e "Seguici" */
.mail,
.follow {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Contenitore per l'input email e bottone */
.email-form {
  display: flex;
  justify-content: center; /* Centra input e bottone orizzontalmente */
  align-items: center; /* Centra verticalmente */
  gap: 10px;
  width: 100%; /* Assicurati che occupi tutta la larghezza disponibile */
  text-align: center;
}

/* Stile dell'input */
.email-input {
  background-color: transparent;
  padding: 1rem 1rem;
  font-size: 18px;
  width: 300px; /* Larghezza fissa per l'input */
  border: none;
  border-radius: 50px;
}

/* Stile del bottone */
.email-submit {
  padding: 10px 20px;
  background-color: #f0a500;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.email-submit:hover {
  background-color: #d88f00;
}

/* Testo copyright */
.footer-text {
  text-align: center; /* Centra il testo */
  color: #fff; /* Colore bianco per il testo */
  font-size: 14px; /* Imposta la dimensione del font */
  margin-top: 20px; /* Distanza superiore dal contenuto precedente */
}

/* Se vuoi aggiungere uno spazio tra il footer-container e il footer-text */
.footer-container {
  margin-bottom: 20px;
}

